.main {
    min-width: 1200px;
    .navSub {
      width: 17%;
      min-width: 248px;
      .subNavBox {
        width: 100%;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 7px 1px rgba(204, 204, 204, 0.5);
        border-radius: 4px;
        padding-top: 20px;
        h1 {
          text-align: center;
          font-size: 24px;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: rgba(42, 133, 113, 1);
          border-bottom: solid 1px #e5e3da;
          padding: 27px 26px;
        }
        img {
          width: 90%;
          display: inline-block;
          margin-left: 4%;
        }
        // 重置侧边栏禁止点击状态
        .noneContent {
          background: none;
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            color: black;
            border-left: none;
          }
        }
      }
      .subNav {
        border-bottom: solid 1px #e5e3da;
        
        
        text-indent: 2em;
        a{
            display: block;
            width: 100%;
            cursor: pointer;
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        background-position: 6% 50%;
            padding: 13px;
        }
      }
      .subNav:hover {
        color: rgba(42, 133, 113, 1);
        border-left: 4px solid rgba(42, 133, 113, 1);
        &.currentDd {
          color: #fff;
          border-left: none;
        }
      }
      .currentDd {
        background-color: rgba(42, 133, 113, 1);
        a{
           color: #fff; 
        }
        
      }
      .navContent {
        display: none;
        padding: 5px;
        border-bottom: solid 1px #e5e3da;
      }
      .navContent li a {
        display: block;
        padding: 15px;
        text-align: left;
        padding-left: 40px;
        font-size: 14px;
        color: #333;
      }
    }
    .mainContent {
      width: 83%;
    //   min-width: 990px;
      padding-top: 82px;
      background-color: #F7F9F9;
      h1 {
        font-size: 34px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        text-align: center;
      }
      .content {
        width: 990px;
        margin:85px auto 0;
         ul{
            li{
                margin-top: 50px;
               h2{
                font-size:24px;
                font-family:Source Han Sans CN;
                font-weight:500;
                color:rgba(42,133,113,1);
                margin-bottom: 33px;
               } 
               .artice{
                   .content_artice{
                    font-size:16px;
                    font-family:Source Han Sans CN;
                    font-weight:400;
                    color:rgba(51,51,51,1);
                    text-indent: 3em;
                   }
                   .address{
                    font-size:14px;
                    font-family:Source Han Sans CN;
                    font-weight:400;
                    color:#2A8571;
                    margin-top: 30px;

                   }
               }
            }
         }
      }
    }
  }
  