.move{
    height: 88px;
    background-color: #2A8571;
}
.banner{ 
    position: relative;
    .carousel-indicators{
       left: 95%;
       width: 6%;
       margin-left: 0;
       overflow: hidden;
       top:50%;
       margin-top: 63px;
    }
    .carousel-indicators li{
        display: block;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius:50%;
        text-indent: 0;
        font-size:12px;
        font-family:Source Han Sans CN;
        font-weight:400;
        text-align: center;
        border:1px solid rgba(42,133,113,1);
        color:rgba(42,133,113,1)
    }
    .carousel-indicators .active{
        font-size:12px;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(42,133,113,1);
        background:rgba(255,255,255,1);
    }
    .coustomer{
       position: absolute;
       top:50%;
       right: 10px;
       z-index: 99;
       img{
           height: 63px;
       }
    }
    .tab_search{
        position: absolute;
    }
    .nav-tabs>li{
        
    }
}