.footer,
.main,
.wailian-extend,.readerMore {
  display: none;
}
.glyphicon-calendar:before {
  color: #ced2d8 !important;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  line-height: 1;
  height: 3.85rem;
}
.third {
  display: none;
}
.mobile {
  height: 0.64rem;
  background: rgba(84, 84, 84, 1);
  font-size: 0.18rem;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 0.64rem;
}
.banner {
  padding-top: 0.88rem;
  .coustomer {
    display: none;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
// 之上为样式重置
.serve-box {
  .row {
    .col-lg-2 {
      a {
        display: block;
      }
      text-align: center;
      padding: 0.2rem 0;
      &.action {
        background-color: #2a8571;
        img {
          display: none;
          &:nth-of-type(2) {
            display: inline-block;
          }
        }
        p {
          color: #fff;
        }
      }
      p {
        padding-top: 0.15rem;
        font-size: 0.18rem;
        font-family: SourceHanSansCN-Regular;
        color: #333333;
        text-align: center;
      }
      img {
        &:nth-of-type(2) {
          display: none;
        }
      }
      span {
        display: inline-block;
        line-height: 0.59rem;
        height: 0.59rem;
        font-size: 0.16rem;
        margin-top: 0.14rem;
        color: #333;
      }
    }
  }
}
//新闻部分
.news {
  margin-top: 1rem;
  .row {
    padding: 0 0.2rem;
  }
  .news-title {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-bottom: 0.3rem;
  }
  .nav-tabs > li {
    background: rgba(255, 255, 255, 1);
    margin-bottom: 0;
    &:last-child {
      float: right;
      a {
        font-size: 0.24rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #2a8571;
      }
    }
    a {
      padding: 0.15rem 0.2rem;
      height: 0.54rem;
      line-height: 0.24rem;
      border: none;
      font-size: 0.26rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      border-radius: 0;
      margin-right: 0;
    }
  }

  .nav-tabs > li.active {
    background: rgba(42, 133, 113, 1);
  }
  .nav-tabs > li.active > a {
    background: rgba(42, 133, 113, 1);
    font-size: 0.26rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    border: none;
  }
  .tab-content {
    li {
      margin-top: 0.25rem;
      h4{
        display:none;
      }
      &:first-child {
        border-bottom: 1px solid rgba(221, 221, 221, 1);
        padding-bottom: 0.1rem;
        margin-bottom: 0.1rem;
        a {
          .news-left {
            width: 80%;
            h4 {
              display:block;
              font-size: 0.22rem;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              margin-bottom: 0.2rem;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
            p {
              font-size: 0.14rem;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
            }
          }
          .news-right {
            width: 0.9rem;
            height: 0.9rem;
            text-align: center;
            background: rgba(238, 238, 238, 1);
            span {
              font-size: 0.36rem;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              display: block;
              margin-top: 0.15rem;
            }
            div {
              display:block;
              margin-top:0.1rem;
              background: rgba(238, 238, 238, 1);
            }
          }
        }
      }
      .news-left {
        width: 80%;
        p {
          font-size: 0.18rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .news-right {
        span{
          font-size: 0.18rem;
        }
        div {
          font-size: 0.18rem;
          display: inline-block;
        }
      }
    }
  }
  .today-active {
    margin-top: 0.2rem;
    .tab-content {
      .news_top {
        margin-top: 0.3rem;
        .container {
          padding-right: 0;
          width: 1.5rem;
          min-width: 170px;
          bottom: -0.05rem;
          position: relative;
          .form-control {
            padding-left: 0.35rem;
            background-color: #fff;
            &::-webkit-input-placeholder {
              padding-left: 0.20rem;
              color: #ccc;
            }
          }
          .input-group-addon {
            position: absolute;
            left: 0.20rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 990;
            padding: 0.09rem 0;
            background-color: unset;
            border: none;
            border-radius: 0;
          }
        }
        ul > li {
          width: 0.34rem;
          height: 0.34rem;
          line-height: 0.34rem;
          border: 1px solid rgba(42, 133, 113, 1);
          float: left;
          text-align: center;
          margin-left: 0.05rem;
          font-size: 0.18rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(42, 133, 113, 1);
        }
      }
      .news_foot {
        .carousel-indicators {
          bottom: unset;
          top: -0.42rem;
          left: 0;
          margin-left: 0;
          width: unset;
          li {
            display: inline-block;
            width: 0.32rem;
            height: 0.32rem;
            text-indent: 0;
            cursor: pointer;
            border-radius: 0;
            text-align: center;
            line-height: 0.32rem;
            border: 1px solid rgba(42, 133, 113, 1);
            color: rgba(42, 133, 113, 1);
            margin-top: 0;
            &:first-child {
              padding-bottom: 0;
              margin-bottom: 0;
            }
            &.active {
              background-color: rgba(42, 133, 113, 1);
              color: #fff;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          margin-top: 0;
        }
      }
    }
  }
}
//热门服务
.hotserve {
  margin-top: 1rem;
  padding-bottom: 0.56rem;
  .hot-title {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .role {
    .serve-main {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0.2rem;
      .serve-item {
        width: 46%;
        padding: 0.2rem;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 1px 0.18rem 2px rgba(179, 206, 199, 0.5);
        border-radius: 4px;
        flex-grow: 5;
        margin-top: 0.2rem;
        &:nth-child(odd) {
          margin-right: 0.1rem;
        }
        p {
          font-size: 0.22rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(42, 133, 113, 1);
          margin-bottom: 0.1rem;
        }
        .serve-wailian {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-around;
          ul {
            float: left;
          }
          li {
            margin-top: 0.1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 1rem;
            a {
              font-size: 0.18rem;
              font-family: Source Han Sans CN;
              font-weight: 300;
              color: rgba(51, 51, 51, 1);
            }
          }
        }
      }
    }
  }
}
//特色资源
.special-serve {
  margin-top: 0.4rem;
  .special-title {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .special-box {
    ul {
      display: flex;
      justify-content: center;
      flex-flow: wrap;
      li {
        width: 46%;
        margin-bottom: 0.5rem;
        text-align: center;
        a {
          display: block;
          position: relative;
          img {
            width: 2.6rem;
            border: 0;
          }
          .shade {
            width: 2.6rem;
            height: 100%;
            background-color: #333333;
            opacity: 0.5;
            position: absolute;
            left: 50%;
            margin-left: -1.3rem;
          }
          span {
            width: 1.51rem;
            text-align: center;
            position: absolute;
            bottom: 0.3rem;
            left: 50%;
            margin-left: -0.7rem;
            font-size: 0.2rem;
            font-family: Microsoft YaHei;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
//阅读推荐
.reader {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .reader-title {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .reader-tab {
    .nav-tabs {
      margin-bottom: 0.3rem;
      display: inline-block;
    }
    .navCenter {
      text-align: center;
    }
    .nav-tabs > li {
      margin-right: 0.5rem;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    .nav-tabs > li > a {
      font-size: 0.24rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    .nav-tabs > li.active {
      background: rgba(42, 133, 113, 1);
      border-bottom: 1px solid rgba(42, 133, 113, 1);
    }
    .nav-tabs > li.active > a {
      background: rgba(42, 133, 113, 1);
      font-size: 0.24rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      border: none;
      border-bottom: 1px solid rgba(42, 133, 113, 1);
    }
    .tab-content {
      padding: 0 0.5rem;
      .tab-pane {
        &.active {
          section {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            & > div {
              width: 33%;
              margin-top: 0.2rem;
              h4 {
                font-size: 0.22rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: rgba(0, 0, 0, 1);
                margin: 0.15rem 0;
              }
              p {
                margin-bottom: 0.1rem;
              }
            }
          }
        }
      }
    }
  }
}
//底部推荐阅读
.mis-stage,
.mis-slider,
.mis-slide,
.mis-container,
.mis-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mis-stage,
.mis-slider {
  position: relative;
  overflow: hidden;
}

.mis-stage {
  width: 100%;
  /*  Set stage width as desired */
  text-align: center;
  /*  Center list navigation */
}

.mis-slider {
  list-style: none;
  overflow: visible;
  height: 100%;
  margin-top: 0;
}

/*  Set slide width and padding */

.mis-slide {
  /*  Set width in pixels to restrict width of slides 
                for multi-item slider, default is 100%
                for single-item slider. Use padding to add space 
                between slides */
  width: 100%;
  height: auto;
  padding: 0;
  display: block;
  position: relative;
  float: left;
  overflow: visible !important;
}

.mis-slide.mis-current {
  z-index: 100;
  width: 1.75rem;
  height: 3.31rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 14px 1px rgba(204, 204, 204, 0.5);
}

/*  Slide container - inserted around the contents
                of each slide by the plugin */

.mis-container {
  display: block;
  width: auto;
  height: auto;
  border: 0;
}

/*  Style list navigation */

.mis-nav-list {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  margin: 0 auto;
  /* center it */
  z-index: 300;
  padding: 0;
}

.mis-nav-list li {
  display: inline-block;
  margin: 0 0.25em;
}

.mis-nav-list li a {
  display: block;
  width: 0.11rem;
  height: 0.11rem;
  text-indent: 100%;
  /* Replace text */
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #eee;
  border-radius: 7px;
  /* Make items round */
  opacity: 0.3;
  -webkit-box-shadow: inset 0 0 2px #333;
  box-shadow: inset 0 0 2px 2px #333;
  margin: 0 0.03rem;
}

.mis-nav-list li.mis-current a,
.mis-nav-list li a:hover {
  background: #333;
}

.mis-nav-buttons {
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  /* opacity: 0.5; */
  z-index: 200;
}

.mis-nav-buttons a {
  position: absolute;
  color: #2a8571;
  font-size: 0;
  /* Hide for browser except Android */
  line-height: 0.01;
  /* 0 is inconsistent in Opera */
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-decoration: none;
  /* text-indent: -9999px; */
  /* Hide for Android */
}

.mis-nav-buttons a:hover {
  color: #2a8571;
}

.mis-nav-buttons a.mis-next {
  left: auto;
  right: 0;
}

.mis-nav-buttons a.mis-prev {
  left: 0;
}

.mis-nav-buttons a.mis-prev:before,
.mis-nav-buttons a.mis-next:after {
  content: "\2039";
  /* left single angle quote */
  display: block;
  font-size: 0.8rem;
  text-indent: 0;
}

.mis-nav-buttons a.mis-next:after {
  content: "\203A";
  /* right single angle quote */
}
/*  Cameo Skin CSS ========================================= */

.mis-stage {
  background-color: #fff;
}

.mis-slider {
  /*  Slider element does not need to be a specific height
            Here we use it to create a stylish bar behind slides */
  // margin-top: 1.38rem;
  height: 0.8rem;
  /* background-color: #eee; */
}

.mis-slider li a {
  text-decoration: none;
  color: #666;
  display: block;
}

.mis-slider li figcaption {
  font-size: 1.125em;
}

.mis-slider li figcaption h4 {
  font-size: 0.22rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 0.48rem;
}
.mis-slider li figcaption p {
  font-size: 0.18rem;
}
.mis-slider li img {
  /*  Make max-width of image a little less than width of slide
                to avoid some browser shinking bugs */
  // max-width: 270px;
  /*  for really small screens make width 100% */
  width: 80%;
  /*  Make image round */
  /* border-radius: 135px; */
  border: none;
}

.mis-slide {
  /*  Set width in pixels to restrict width of slides 
                for multi-item slider, default width is 100%
                for single-item slider. Use padding to add space 
                between slides */
  width: 33.3%;
  height: 3.6rem;
  padding: 0.4rem;
  /*  Undo the margin added by slider element */
  // margin-top: -138px
}

.mis-nav-buttons a {
  color: #fff;
}
